/* Navigation Bar */

/* Add a black background color to the top navigation */
.topnav {
    background-color: #333;
    overflow: hidden;
}

.topnav img {
    position: absolute;
    width: 50px;
    right: 5px;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 18px;
}

/* Change the color of links on hover */
.topnav a:hover {
    transform: translateY(-3px);
}

/* Add a color to the active/current link */
.topnav a.active {
    text-decoration: underline;
    text-decoration-color: white;
    text-decoration-thickness: 3px;
    transform: translateY(-3px);
    color: white;
}

/* Background */

body {
    height: 100vh;
    background: -webkit-repeating-linear-gradient(-45deg, #71b7e6, #69a6ce, #b98acc, #ee8176, #b98acc, #69a6ce, #9b59b6);
    background-size: 400%;

    -webkit-background-clip: text;
    text-shadow: 4px 4px 4px rgba(255, 255, 255, 0.25);
    animation: animate 10s ease-in-out infinite;
}

@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

@keyframes animate {
    0% {
        background-position: 0 0;
    }

    25% {
        background-position: 100% 0;
    }

    50% {
        background-position: 100% 100%;
    }

    75% {
        background-position: 0% 100%;
    }

    100% {
        background-position: 0% 0%;
    }
}

.buttons a {
    display: inline-block;
    padding: 0.6em 16px;
    border: 0.16em solid #FFFFFF;
    margin: 17px 17px 17px 20px;
    box-sizing: border-box;
    width: 13.5%;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #FFFFFF;
    text-align: center;
    transition: all 0.15s;
}

.buttons a:hover {
    color: #ece9e9;
    border-color: #ffffff;
    transform: translateY(5px);
}

.buttons a:active {
    color: #ffffff;
    border-color: #fffefe;
}

@media all and (max-width:30em) {
    .buttons a {
        display: block;
        margin: 0.4em auto;
    }
}